// Place all the styles related to the Api/Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#friends-list {
  display: flex;
  width: inherit;
}

#friends-list img {
  width: 100px;
  height: 100px;
}

#friends-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  width: inherit;
  list-style: none;
  padding: 0;
  margin: 6px 13px;
}

#friends-list li {
  width: 400px;
  margin: 6px 0px;
  border: 1px solid #e9ebee;
}

#friends-list a {
  display: flex;
  align-items: center;
  color: #385a98;
  text-decoration: none;
}
