// Place all the styles related to the Api/Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#friend-requests {
  position: absolute;
  top: 36px;
  right: -70px;
  width: 433px;
  color: #375998;
}

#friend-requests ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#friend-requests li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px 30px;
  border: 1px solid #dddfe2;
}

#friend-requests img {
  height: 50px;
  width: 50px;
}

#friend-requests button{
  margin: 5px;
}

#friend-requests div{
  display: flex;
  align-items: center;
}

#friend-requests span {
  margin: 0 10px;
}

#friends-list {
  display: flex;
  width: inherit;
}

#friends-list img {
  width: 100px;
  height: 100px;
}

#friends-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  width: inherit;
  list-style: none;
  padding: 0;
  margin: 6px 13px;
}

#friends-list li {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 6px 0px;
  border: 1px solid #e9ebee;
}

#friends-list a {
  margin: 10px;
  color: #385a98;
  text-decoration: none;
}
