// Place all the styles related to the Api/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#timeline-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 849px;
  min-height: 350px;
  margin: 15px auto;
}

#timeline-intro {
  width: 325px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  overflow: hidden;
}

#intro-logo {
  height: 24px;
  width: 24px;
  background-color: #4367b2;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#intro-title {
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin: 0 12px;
  border-bottom: 1px solid #dddfe2;
}

#intro-title span {
  color: #1e212a;
  margin: 0 12px;
}

#timeline-intro ul {
  list-style: none;
  margin: 6px 12px;;
  padding: 0;
}

#timeline-intro li {
  padding: 6px 0;
  color: #1e212a;
  font-size: 12px;
}

.post-form {
  width: 510px;
  height: 150px;
  border: 1px solid #dddfe2;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.post-form-head {
  width: 486px;
  height: 15px;
  padding: 10px 12px 8px 12px;
  border-bottom: 1px solid #dddfe2;
  background-color: #f6f7f9
}

.post-form-head a {
  margin: 0 5px;
  cursor: pointer;
}

.post-form-head i {
  margin-right: 5px;
}

.post-form-body {
  display: flex;
  align-items: center;
  width: 486px;
  height: 45px;
  padding: 12px;
  border-bottom: 1px solid #dddfe2;
}

.post-form-body img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.post-form-body input {
  border: none;
  height: inherit;
  width: inherit;
  font-size: 24px;
  color: #a6a6a6;
}

.post-form-foot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.post-form-foot button {
  height: 22px;
  background-color: #4267b2;
  color: white;
  border: 1px solid #29487d;
  border-radius: 3px;
  cursor: pointer;
}

.post-index {
  min-height: 350px;
  width: 510px;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
}

.post {
  width: 484px;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  margin: 12px;
}

.post img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post-header {
  display: flex;
  align-items: flex-start;
  padding: 12px 12px 0 12px;
  color: #aaa;
}

.post-header a {
  margin: 0 10px;
  color: #385a99;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.post-body {
  max-height: 400px;
  margin: 12px;
  color: #1f212b;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.post-body img{
  border-radius: 0;
  width: 400px;
  height: auto;
}

.post-links {
  margin: 0 12px;
  border-top: 1px solid #dddfe2;
  padding: 12px 0;
  display: flex;
  align-items: center;
}

.post-links a {
  color: #616770;
  margin-right: 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.post-links i {
  font-size: 20px;
  margin-right: 4px;
}

.post-comment-form {
  padding: 12px 8px;
  height: 27px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
}

.post-comment-form input{
  color: #a6a6a6;
  margin-left: 8px;
  height: 32px;
  width: 278px;
  border-top: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  font-size: 14px;
  padding: 0 10px;
  vertical-align: middle;
}

.post-comment-form button {
  padding: 0;
  border: 1px solid #dddfe2;
  background-color: #ffffff;
  color: #afb3b7;
  height: 34px;
  width: 124px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  cursor: pointer;
}

#comment-pic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

#new-feed {
  padding-top: 50px;
}
