// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-show {
  display: flex;
  flex-direction: column;
  padding-top: 43px;
}

#cover-photo {
  margin: 0 41px;
  height: 250px;
  width: 849px;
  background-color: black;
  position: relative;
}

#cover-photo-img {
  height: inherit;
  width: inherit;
  background-size: cover;
  background-position: center center;
}

#add-friend-button {
  right: 20px;
  bottom: 15px;
  position: absolute;
  height: 28px;
  background-color: #f6f7f9;
  border: 1px solid #4d381e;
  border-radius: 2px;
  color: #4c4f57;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
}

#add-cover-button {
  position: absolute;
  left: 20px;
  top: 15px;
  height: 30px;
  background-color: #000;
  border: 1px solid #acadb0;
  border-radius: 2px;
  color: #d2d3d4;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
}

#cover-photo i {
  font-size: 14px;
  margin-right: 10px;
}

#profile-picture-div {
  position: absolute;
  left: 16px;
  bottom: -27px;
  background-color: #fff;
  border-radius: 3px;
  height: 168px;
  border: 1px solid #d2d6da;
}

#profile-picture{
  width: 160px;
  height: 160px;
  border: 4px solid #fff;
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

#profile-nav {
  display: flex;
  margin: 0 40px;
  height: 43px;
  width: 648px;
  background-color: white;
  padding-left: 201px;
  border: 1px solid #d2d6da;
  font-family: arial;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#profile-nav a {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 43px;
  line-height: 3.05;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
}

#profile-nav a:first-of-type {
  border-left: 1px solid #e9eaed;
}

.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: inherit;
  padding: 22px 10px;
}

.submit {
  position: absolute;
  bottom: 0px;
  height: 22px;
  background-color: #4267b2;
  color: white;
  border: 1px solid #29487d;
}

#picture-upload input {
  color: #4267b2;
}

#picture-upload img{
  height: auto;
  width: 100%;
}

.content-pane {
  min-height: 350px;
  width: 849px;
  margin: 15px 40px;
  background-color: #fff;
  border: 1px solid #d2d6da;
  border-radius: 3px;
}

.content-title {
  display: flex;
  justify-content: space-between;
  height: 29px;
  padding: 16px 0 12px 0;
  border-bottom: 1px solid #d2d6da;
  background-color: #f6f7f9;
}

.content-title a {
  color: #4b4f56;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  margin-left: 40px;
}

.content-title button {
  margin-right: 40px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #d1d6da;
  border-radius: 2px;
  color: #4c4f57;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
}

#main-about-content {
  display: flex;
}

#about-overview ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

#about-overview li {
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid #d2d6da;
  width: 325px;
  font-size: 16px;
  color: #4b4f56;
}

#main-about-content li:last-of-type {
  border-bottom: none;
}

#about-categories {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d2d6da;
  width: 240px;
  min-height: 280px;
  padding-top: 10px;
}

#about-categories a{
  font-size: 14px;
  height: 42px;
  line-height: 3.05;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color: #8f949b;
  cursor: pointer;
  text-decoration: none;
}

.about-details {
  display: flex;
  flex-direction: column;
}

.about-details label {
  margin: 30px 20px 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #d2d6da;
  padding-bottom: 5px;
  width: 560px;
  color: #8f949b;
  font-weight: bold;
}

.about-details ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.about-details li {
  display: flex;
  justify-content: space-between;
  color: #4b4f56;
  margin-bottom: 10px;
}

#about-form select {
  margin: 20px;
  width: 200px;
  height: 25px;
  color: #ffffff;
  background-color: #4267b2;
}

#about-form input {
  margin: 20px;
  width: 400px;
  border: 1px solid #4267b2;
  height: 25px;
  color: #4267b2;
  font-size: 20px;
}

#user-name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  bottom: 10px;
  left: 200px;
}
