// Place all the styles related to the Api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-main {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  min-height: 42px
}

#header-main h1 {
  color: white;
  margin-left: 35px;
}

#login-form {
  display: flex;
  margin: auto 35px;
  color: white;
}

#user-nav {
  margin: auto 35px;
  color: white;
}
