.user-nav {
  display: flex;
  align-items: center;
  color: white;
  font-size: 13px;
}

.user-nav a {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 10px;
  color: #fff;
  position: relative;
}

.user-nav a:hover {
  background-color: #415e9a;
}

.user-nav i {
  font-size: 18px;
}

.user-nav button {
  height: 22px;
  background-color: #4267b2;
  color: white;
  border: 1px solid #29487d;
}

.user-nav button:hover {
  background-color: #415e9a;
}

.header-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header-image img {
  width: 25px;
  height: 25px;
}
