/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  margin: 0;
  font-family: arial;
}

#main {
  display: flex;
  justify-content: space-around;
  background-color: #e9ebee;
}

#main-show {
  display: flex;
  background-color: #e9ebee;
}

#main h1 {
  margin: 0;
}


#header-left-logged-in {
  display: flex;
  align-items: center;
  margin-left: 40px;
  height: 42px;
}

#logo {
  background-color: white;
  color: #3b5998;
  height: 25px;
  width: 28px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 2px;
}

#search-bar {
  height: 23px;
  width: 400px;
  margin-left: 10px;
  padding-right: 5px;
  border: none;
  color: #1d2129;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#header-left-logged-in button {
  height: 25px;
  width: 45px;
  border: none;
  vertical-align: middle;
  background-color: #e9eaed;
  font-size: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fa-search {
  color: #4b4f56;
}

#main-front-left {
  width: 500px;
  margin: 40px;
  color: #333;
}

#main-front-left h1 {
  width: 460px;
  font-size: 26px;
}

#main-front-left div {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 40px 0;
}

#main-front-left h3 {
  font-weight: 300;
  margin-left: 20px;
}

#main-front-left i {
  font-size: 50px;
  margin-right: 10px;
  color: #acbad4;
}
