.main {
  display: flex;
  justify-content: center;
  background-color: #e9ebee;
  width: 100%;
  min-height: 500px;
}

.main-logged-out {
  min-width: 960px;
  display: flex;
  justify-content: space-between;
}

#main h1 {
  margin: 0;
}
